.container{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.info_content{
    color: #00000;
}
.search{
    margin-bottom: 10px;
    width: 100%;
}
.search1{
    padding: 10px;
}
.pipa{
    display: inline-block;
	height:2px;
    width: 40px;
    margin: 0;
    margin-right: 5px;
}
.dm_12{
    border: none;
    background: #a53aa3;
}
.dm_20{
    border: none;
    background: #a0561a;
}
.dm_25{
    border: none;
    background: #0fe3ff;
}
.dm_40{
    border: none;
    background: #33a02c;
}
.dm_45{
    border: none;
    background: #36d962;
}
.dm_50{
    border: none;
    background: #175b88;
}
.dm_65{
    border: none;\
    background: #a53aa3;
}
.dm_75{
    border: none;
    background: #7e21e6;
}
.dm_80{
    border: none;
    background: #d89972;
}
.dm_100{
    border: none;
    background: #e31a1c;
}
.dm_125{
    border: none;
    background: #6b5b04;
}
.dm_150{
    border: none;
    background: #ff7f00;
}
.dm_200{
    border: none;
    background: #ee88ed;
}
.dm_250{
    border: none;
    background: #f4e943;
}
.dm_300{
    border: none;
    background: #7e3d00;
}
.dm_400{
    border: none;
    background: #e41e8b;
}
.dm_500{
    border: none;
    background: #ff6ff3;
}
.img-load {
    display:none;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 15px;
    height: 15px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
.img-logo{
    max-width: 100%;
    height: auto;
}
.pipaContent{
    color: #0A0A0A;
}
.pipaLegenda > li > a{
    display: block;
    /*padding-top: 1px;
    padding-bottom: 1px;*/
    border-bottom-right-radius: 4px;
}
.markerContent{
    color: #0A0A0A;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
